.inputStyle {
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #6c6c6c;
  border-radius: 3px;
  padding: 8px 10px;
  font-size: 18px;
  margin: 15px 0;
  background-color: #ccc;
  outline: none;
}